.chisiamobody {
    background-image: url(../assets/animals/Rettili/tartaruga/torto2.jpg);
    background-size: cover;
    font-size: 2rem;
    color: white;
    font-weight: 800;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
