.deserto-container {
  background-image: url(../assets/missioni/deserto.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 50px 20px;
  color: white;
}


.mission-title {
  font-weight: bold;
  font-size: 2.5rem;
}
.mission-paragraph {
  font-size: 1.5rem;
}

.mission-list li {
  list-style: none;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.mission-list li {
  font-size: 1.6rem;
}

.form-section {
  margin-top: 2rem;
}
.mission-description {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); 
}
