.donation-global {
    background-image: url(../assets/people/people4.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem; 
}

.card-body {
    background-color: var(--orange);
    
   
}

.donation-button {
    background-color: var(--purple);
}


@media (max-width: 768px) {
    .donation-global {
        padding: 1rem;
    }

    .card-body {
        margin-top: 1rem;
    }
}
