
.generalModal {
    color: white;
    height: 17rem;
    
    background-color: var(--orange);
    margin-top:2rem;
    
}
.modaltitle {
    font-weight:60px;
    font-size:2rem;
    margin-bottom:5px;

}
.modal-content {
    background-color: var(--orange);
}

.bottomform {
    background-color: var(--orange);
}

