.login-buttons .button {
   background-color: var(--green);
   
}
.modal-container {
    border-radius: 50%;
}

.generalModal {
    background-color: rgb(155, 135, 135);
    color: white;
    height: 17rem;
    
    
}

