@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
body {
  font-family: 'Poppins', sans-serif;
}


:root {
  --green: #1b998b;
  --blue: #688ce7;
  --purple: #ed217c;
  --orange: #ff9b71;
  --yellow: #fffd82;
  --grey: #2d3047;
}

.App {
  text-align: center;
}




